.dark {
  background-color: var(--dark-card-color);
}

.light {
  background-color: var(--light-card-color);
}

.container {
  width: 95%;
  height: 300px;
  border-radius: 8px;
  display: inline-block;
  margin: 0 1.5rem 1.5rem 0;

  .wrapper {
    width: 100%;
    height: 100%;
    background: var(--card-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 300px;
    height: 350px;
    border-radius: 8px;

    & .gold {
      background-color: var(--gold-card-color);
    }

    & .dark {
      background-color: var(--dark-card-color);
    }

    .wrapper {
      width: 100%;
      height: 100%;
      background: var(--card-gradient);
      padding: 1rem;
    }
  }
}
