*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-color: #b3b9c5;
  --heading-color: #ffd479;
  --dark-font-color: #ced4da;
  --background: #111112;
  --medium-font-color: #dee2e6;
  --light-font-color: #868e96;
  --light-background: #2d2d31;
  --light-background-hover: #3b3b3e;
  --code-background-color: #2e2e30;
  --border: #404040;
  --link-color: #6ab0f3;
  --link-color-darker: #4a72a5;
  --link-hover-color: #e1a6f2;
  --navbar-color: #1d1d1d;
  --blockquote: #2a4661;
  --transparent-text: rgba(255, 255, 255, 0.7);
  --transparent-bg: rgba(0, 0, 0, 0.2);
  --light-transparent-bg: rgba(255, 255, 255, 0.05);
  --code-font-family: Menlo, "Roboto Mono", Courier New, monospace;
  --dark-card-color: rgb(83, 83, 83);
  --light-card-color: #6f6f6f;
  --card-gradient: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.4));
}

html {
  font-family: "Roboto";
  color: var(--font-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

// Manage right top and bottom left images
.abs-img1,
.abs-img2 {
  display: none;
}

@-webkit-keyframes slideTop {
  100% {
    top: 0;
  }
}

@keyframes slideTop {
  100% {
    top: 0;
  }
}

@-webkit-keyframes slideBottom {
  100% {
    left: 0;
  }
}

@keyframes slideBottom {
  100% {
    left: 0;
  }
}

@media screen and (min-width: 960px) {
  .abs-img1,
  .abs-img2 {
    position: fixed;
    display: block;
    z-index: -1;
  }

  .abs-img1 {
    top: -1000px;
    right: 0;
    -webkit-animation: slideTop 1s forwards;
    -webkit-animation-delay: 1s;
    animation: slideTop 1s forwards;
    animation-delay: 1s;
  }

  .abs-img2 {
    bottom: 0;
    left: -1000px;
    -webkit-animation: slideBottom 1s forwards;
    -webkit-animation-delay: 1.5s;
    animation: slideBottom 1s forwards;
    animation-delay: 1.5s;
  }
}

section {
  margin: 2rem 0;
}

section:first-of-type {
  margin-top: 0;
}

p,
ol,
ul,
dl,
table,
blockquote {
  font-size: 1.05rem;
  margin: 0 0 1.5rem 0;
}

ul {
  padding: 0 1rem;
}

@media screen and (min-width: 800px) {
  p,
  ol,
  ul,
  dl,
  table,
  blockquote {
    font-size: 1.125rem;
  }

  ul {
    padding: 0 2rem;
  }
}

ul li p {
  margin: 0;
}

ul li ul {
  padding-left: 1rem;
  margin: 0;
}

ul li ul li {
  margin: 0;
}

ol li ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--light-background);
}

h2 code {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem;
  color: var(--font-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 code {
  font-size: 1.4rem !important;
}

h4 {
  font-size: 1.3rem;
  color: var(--font-color);
  font-weight: 500;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--light-background);
  padding-bottom: 0.25rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  h2 code {
    font-size: 1.9rem !important;
  }

  h3 {
    font-size: 1.7rem;
    color: var(--font-color);
    font-weight: 600;
  }

  h3 code {
    font-size: 1.6rem !important;
  }

  h4 {
    font-weight: 400;
    font-size: 1.4rem;
  }
}

a.link {
  display: block;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  border-radius: 0.35rem;
  font-weight: 600;
  color: var(--dark-font-color);
}

a.link:hover {
  color: var(--link-color);
}

p.subtitle {
  color: var(--medium-font-color);
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  p.subtitle {
    font-size: 1.5rem;
  }
}

a {
  color: var(--heading-color);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 3px solid #b9cdfb;
}

a:hover {
  color: white;
  border-bottom: 3px solid #96b4f9;
}

main {
  margin-top: 100px;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 25px;
  }
}

#theme-toggler {
  border: none;
  padding: 0.2rem 0.7rem 0.2rem 0.5rem;
  border-radius: 0.35rem;
  box-sizing: content-box;
  cursor: pointer;
  font-size: 1.1rem;
  background: transparent;
}

@media screen and (min-width: 800px) {
  #theme-toggler {
    padding: 0.95rem 0.75rem;
    font-size: 1.2rem;
  }
}
