.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 64px;
}

.layout > main {
  display: flex;
  flex-direction: column;
  gap: 112px;
}

.footer {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 32px;
}

.footer p {
  color: var(--text-dim-color);
  font-size: 0.8rem;
  text-align: center;
}
