:root {
  --main-bg-color: #2E3440;
  --secondary-layout-bg-color: #4C566A;
  --main-layout-bg-color: #3B4252;
  --title-color: #A3BE8C;
  --text-color: #D8DEE9;
  --link-color: #88C0D0;
  --link-hover-color: #5E81AC;
  --link-visited-color: #A3A0C3;
  --terminal-path-end-color: #81A1C1;
}

html {
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

p {
  color: var(--text-color);
}

.screen {
  width: 100%;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

a:visited {
  color: var(--link-visited-color);
}

@media screen and (min-width: 768px) {
  .screen {
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .screen {
    width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .screen {
    width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  .screen {
    width: 1400px;
  }
}
